/* contains general project styles */

html,
body {
    width: 100vm;
    align-content: center;
    justify-content: center;
}

body {
    max-width: 1380px;
    min-width: 680px;
    margin: 4px auto;
}

header,
section,
main,
nav,
aside {
    width: 100%;
}

main {
    margin: 4px 6px;
}
span{
    flex: 0.75;
}

.button.end{
    align-self: flex-end;
}

.button.selected {
    font-style: italic;
    font-weight: bold;
    color:white;
}

input[readonly],
textarea[readonly] {
    background-color: lightcyan;
}