
.button_region{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 99%;
}

.hrow1,
.hrow2 {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 99%;
}

select#style_box {
    flex: 0.2;
    min-width: 156px;
}

textarea {
    min-width: 140px;
    max-width: 280px;
    width: 200px;
    min-height: 20px;
    max-height: 60px;
    height: 32px;
    scroll-padding-left: 4px;
}

section.entry_row {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width: 100%;
    margin: 3px 0px;
}

.txtcol {
    flex: 0.2;
    border: 1px;
}

.txtcol2 {
    flex: 0.3;
    border: 1px;
}

.btncol {
    flex: 0.15;
    border: 1px;
}

.entry_row.head {
    font-size: 1.1em;
    font-weight: bold;
}